<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<title>版权政策</title>
	</head>
	<style>
		.copy_wrap{
			width:952px;
			height:877px;
			background: #fff;
			margin-top:25px;
			box-shadow: 0px -1px 4px 0 rgba(6, 0, 1, 0.11);
		}
		h1{
			width:100%;
			height:61px;
			border-bottom: 1px solid #EBEBEB;
			font-size: 16px;
			color: #3f231e;
			font-weight: normal;
			line-height: 61px;
			padding-left:21px;
		}
		.policy{
			padding:43px 56px 0 20px;
		}
		h2{
			font-size:14px;
		}
		p{
			font-size:12px;
			line-height: 22px;
			padding-top:20px;
		}
	</style>
	<body>
		<div class="copy_wrap">
			<h1>版权政策</h1>
			<div class="policy">
				<h2>网站版权声明</h2>
				<p>
					本网站的所有内容（包括但不限于文字、图表、商标、标识或名称、按钮图标、图像、照片、音频、视频影音资料、页面设计、编排、数据及软件等，但网站注册用户在评论以及任何其他应用下粘贴、转载、上传、发表或以任何其他方式提供的信息、内容除外）之知识产权，均由本网站及/或相关权利方单独或共同所有或被授权使用，并受著作权法和商标法等知识产权法律法规、中国签订的国际条约和其它相关法律、法规的保护。未经本网站及/或相关权利方事先书面同意，请勿以任何方式自
行、与他人共同或授权/协助他人使用、转载、修改、复制、发行、出售、发表或以其它任何方式使用本网站之内容，否则，本网站将追究其法律责任。
				</p>
			</div>
		</div>
	</body>
</html>
