<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/help_word.css?v=f0d7d51e7f" />
		<title>通关税费</title>
	</head>
	<body>
		<div class="custom_tax">
			<h1>通关税费</h1>
			<div style="width:914px;margin:0 auto;">
			<p>洋窝儿通过正规的清关渠道进行清关，一切遵照海关相关法律、法规进行操作，并且尽量保障清关时效。</p>
			<h3 style="padding-top:19px;">1.目前对于购买跨境电商平台上的商品，国家的相关政策是怎样的？</h3>
			<p>依据《关于跨境电子商务零售进口税收政策的通知》，跨境电子商务零售进口商品的单次交易限值为人民币2000元，个人年度交易限值为人民币20000元。
在限值以内进口的跨境电子商务零售进口商品，关税税率暂设为0%；进口环节增值税、消费税取消免征税额，暂按法定应纳税额的70%征收。
超过单次限值、累加后超过个人年度限值的单次交易，以及完税价格超过2000元限值的单个不可分割商品，均按照一般贸易方式全额征税。</p>
			<h3>2.购买洋窝儿进口的商品是否需要缴税？</h3>
			<p>根据政策规定，跨境电子商务零售进口商品按照货物征收关税和进口环节增值税、消费税，购买跨境电子商务零售进口商品的个人作为纳税义务人，实际交易价格
（包括货物零售价格、运费和保险费）作为完税价格，电子商务企业、电子商务交易平台企业或物流企业可作为代收代缴义务人。</p>
			<h3>3.如果产生进口税，是否需要自己亲自缴纳?</h3>
			<p>在洋窝儿上购买保税区发货的境外商品时，消费者在订单提交时根据订单内商品的金额和对应的税率缴纳相应的税费，无需自己再到相应的海关部门单独缴纳。</p>
			<h3>4.跨境进口税如何收取?</h3>
			<p>亲，在洋窝儿上购买保税仓（深圳保税仓、重庆保税仓）发货的境外商品时，会在页面上提示税费金额，支付时一并收取。洋窝儿跨境直邮商品发货时，如产生税
费，需与洋窝儿客服联系。跨境保税区商家发货商品，税费由商家承担。</p>
			<h3 class="last_h3">5.跨境进口税如何计算?</h3>
			<p style="line-height: 30px;">跨境进口税的计算方式如下，仅供参考：<br />
				进口税=(消费税+增值税)x0.7<br />
				消费税=完税价/(1-消费税税率)x消费税税率<br />
				增值税=(完税价+消费税)x0.17<br />
				完税价=(售价-优惠-代金券-红包)+运费<br />
				例1：消费税税率为30%商品 ，单价为100元，运费为0的计税公式如下：<br />
				关税=0<br />
				消费税=100/(1-0.3)*0.3=42.86<br />
				增值税=(100+42.86)*0.17=24.29<br />
				进口税=(42.86+24.29)*0.7=47<br />
				例2：消费税税率为30%的商品，单价为60元，运费为10元的计税公式如下：<br />
				关税=0<br />
				消费税=（60+10）/(1-0.3)*0.3=30<br />
				增值税=(60+10+30)*0.17=17<br />
				进口税=(30+17)*0.7=32.9<br />
			</p>
			</div>
		</div>
	</body>
</html>
