<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>专题</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc">
		<link rel="stylesheet" href="/css/pc_classify.css?v=768a99a900" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/show.css?v=52c72bd746">
		<link rel="stylesheet" href="/css/feed_back.css?v=c90c851481" />
	</head>
	
	<body>
		<div class="wrap">
			<div class="box_bg">
			 <%- include('_partial/headerHTML') %>
			</div>
			<div>
				<a href="#"><img src="imgs/feed_yi_02.png"/></a>
			</div>
			<div class="feed">
				<div class="feed_back">
					<h1>
						<p>您提交的问题将会在 24小时 内得到处理，如需其他问题请联系洋窝儿客服！</p>
						<p>问题处理后，我们会第一时间以短信的形式告知</p>
					</h1>
					<div>
					<textarea name="" rows="" cols="" maxlength="400" placeholder="请将您的建议或您遇到的问题告诉我们，我们会认真听取并及时反馈"></textarea>
					<p><span>0</span>/<label>400</label></p>
					</div>
					<button>提交</button>
				</div>
			</div>
		</div>
	<script src="/js/jquery.js?v=46639776ff"></script>
   <script src="/js/picture.js?v=90c1841832"></script>
	<script>
	 picture.init();
	</script>
	</body>
</html>
