<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>免费试用</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/replace_psd.css?v=5bf5411c30" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/page.css?v=ad31fea776">
	</head>
	<body>
		<div class="wrap">
			<div class="box_bg">
				 <%- include('_partial/headerHTML') %>
			</div>
			<div class="produce_box">
			   <!-- 免费试用 -->
			   <div class="freeTest">
			      
			   </div>
			   <div class="testProduces_box">
			     <!-- <div class="textPro">
			         <div class="textPro_img">
			            <img src="images/pro1.png">
			         </div>
			         <div class=textProIn>
                        <ul>
                        	<li>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来...</li>
                           
                            <li class="textProIn_contro">限量50件</li>
                        </ul>
                        <ol class="textProIn_box">
                        	<li>360人参与</li>
                        	<li class="textProInBox_btn"><a href="#">立即试用</a><span>￥228.00</span></li>
                        </ol>
                     </div>
                  </div>
                  <div class="textPro">
			         <div class="textPro_img">
			            <img src="images/pro2.png">
			         </div>
			         <div class=textProIn>
                        <ul>
                        	<li>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来...</li>
                          
                            <li class="textProIn_contro">限量50件</li>
                        </ul>
                        <ol class="textProIn_box">
                        	<li>360人参与</li>
                        	<li class="textProInBox_btn"><a href="#">立即试用</a><span>￥228.00</span></li>
                        </ol>
                     </div>
                  </div>
                  <div class="textPro">
			         <div class="textPro_img">
			            <img src="images/pro3.png">
			         </div>
			         <div class=textProIn>
                        <ul>
                        	<li>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来...</li>
                            
                            <li class="textProIn_contro">限量50件</li>
                        </ul>
                        <ol class="textProIn_box">
                        	<li>360人参与</li>
                        	<li class="textProInBox_btn"><a href="#">立即试用</a><span>￥228.00</span></li>
                        </ol>
                     </div>
                  </div>
                  <div class="textPro">
			         <div class="textPro_img">
			            <img src="images/pro4.png">
			         </div>
			         <div class=textProIn>
                        <ul>
                        	<li>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来...</li>
                         
                            <li class="textProIn_contro">限量50件</li>
                        </ul>
                        <ol class="textProIn_box">
                        	<li>360人参与</li>
                        	<li class="textProInBox_btn"><a href="#">立即试用</a><span>￥228.00</span></li>
                        </ol>
                     </div>-->
                
			   </div>
               

			</div>
			
		</div>
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script src="/js/picture.js?v=90c1841832"></script> 
        <script src="/js/free_try.js?v=d6132b6c7b"></script>
		<script type="text/javascript">
		 $("#commodityS").on("mouseenter",function(){
		 	  $(this).find("ol").show();
		 })
		 $("#commodityS").on("mouseleave",function(){
		 	  $(this).find("ol").hide();
		 })
		     
		</script>
	</body>
</html>
