<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>洋窝儿-帮助说明</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/shopping_detail.css?v=97e2625598" />
		<link rel="stylesheet" href="/css/my_news.css?v=183c4d0e63" />
	</head>
	<body>
		<div class="wrap">
			<div class="box_bg">
			 <%- include('_partial/headerHTML') %>
			</div>
			<div class="shop_url">
				<p>
				<a href="#">微代</a><img src="/imgs/find.png" alt="" /><a href="#">帮助说明</a>
				</p>
			</div>
			
			<div class="help_explain">
				<h1>客服电话：4008-999999</h1>
				<div>
					<img src="/imgs/shelp_01.png" class="help_img"/>
					<ul>
						<li><img src="/imgs/supload.png"/>登录【洋窝儿】客户端</li>
						<li>商品详情页，右上角分享，可以分享QQ好友、QQ空间、微信好友、微信朋友圈、复制链接、二维码</li>
					</ul>
					<ol>
						<li>下载【洋窝儿】手机客户端下载地址：<br />http://www.gheg</li>
						<li>申请微营销</li>
						<li>分享到其他平台，只要在这个分享下，产生的成交，在交易成功后，会返利到您的账号中</li>
					</ol>
				</div>
			</div>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			</div>
		</div>
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js"></script>
		<script src="/js/picture.js?v=90c1841832"></script>
		
	</body>
</html>
