<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/help_word.css?v=f0d7d51e7f" />
		<title>帮助中心</title>
	</head>
	<body>
		<div class="center_word">
			<h1>帮助中心</h1>
			<div class="kefu_word">
				<img src="/imgskefu.png" alt="" />
				<div>
					<p>客服温馨提示</p>
					<span>为了减少您可能的等待时间，您不妨先仔细阅读下面的常见问题。 </span>
                   <span>查询物流状态，退货，退款等操作均可以登录洋窝儿网站后进行操作，无需联系客服。</span>
                   <span>如果仍无法解决,请您拨打洋窝儿客服电话,洋窝儿谢谢您的理解！</span>
				</div>
			</div>
			<div class="detail_word">
				<h2>常见问题</h2>
				<h3>1.洋窝儿下完订单大概多长时间可以收到货？</h3>
				<p>保税仓发货3-5天可以收到货，海外直邮需要7-15天才可以收货，偏远地区会有一定的延迟。</p>
				<h3>2.订单显示发货了，但快递信息为什么还没有更新？</h3>
				<p>您在洋窝儿订单页面看到的物流查询信息由快递公司传递提供。由于快递公司信息更新会有一定延迟，请您多多谅解。（延迟时间可能从1天到3天不等）。</p>
				<h3>3.为什么后下的订单，先收到了，之前下的订单还没有收到？你们是按什么顺序发货的？</h3>
				<p>为了最短时间内以最快速度处理更多订单，洋窝儿会适当综合按订单里货品配货的情况安排发货顺序，因此可能会出现订单发货和下单顺序不完全一致的情况
我们会尽一切努力为您尽快发货。</p>
				<h3>4.商品收到后，发现漏发了或者错发，应该怎么办？</h3>
				<p>您先准备好漏发，错发的相关图片（拍摄图片），再通过客服电话核实，待客服确认后会进行补发或退款。</p>
				<h3>5.订单商品显示发货了，但是为什么没有快递信息？为什么有时联系快递，快递称没有这个订单？</h3>
				<p>因地区不同快递公司不能及时提供快递物流信息，请您耐心等候。除非地域偏远，最晚七日内您应该可以收到货品。</p>
				<h3>6.如果使用了优惠券或积分的订单想退货，怎么办？</h3>
				<p>对没有付款的订单或者货到未发货订单，您可以选择取消订单再重新下单。如果订单已经发货但未确认收货您可以在待收货订单详情里进行退货申请，待确
定收货后在退后，请先联系客服，客服审批通过后才可进行退货，同时订单对应优惠券或积分也会相应的退。</p>
				<h3>7.我什么时候才能申请退货？</h3>
				<p>在洋窝儿购买的商品后，您可以在待收货订单详情里进行退货申请， 也可以在确认收件后7天内申请退货，跨境商品（涉及海关通关手续及时限）也可以在确
认收件后7天内进行申请退货；个别商品（例如，短效期的海外食品、酒水等）不支持7天退货，请留意商品页面上的特殊说明，您可以在我的订单页面申请售
后服务提交退货申请。</p>
				<h3>8.办理退货周期多久？</h3>
				<p>一般情况下，自收到您问题商品之日起7天内为您处理完成，退款方式为原路径退还。</p>
				<h3>9.退货运费该有谁来承担？</h3>
				<p>因洋窝儿、物流配送、第三方原因等致使商品退货，运费由洋窝儿承担，因用户个人原因退货，运费由个人承担。</p>
				<h3>10.如果我拒收了，该如何处理？</h3>
				<p>如果您拒收了，商品将退回国内指定仓库，经售后人员与您联系确认后，您可以联系客服人员办理退款。</p>
			</div>
		</div>
	</body>
</html>
