<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>加盟优势</title>
	</head>
	<style>
		img{
			width:100%;
			height:auto;
			float:left;
		}
	</style>
	<body>
		<div class="greatest" style="width:1200px;margin:0 auto;">
			<img src="/imgs/greatest_03.png"/>
			<img src="/imgs/greatest_05.png"/>
			<img src="/imgs/greatest_07.png"/>
			<img src="/imgs/greatest_09.png"/>
			<img src="/imgs/greatest_10.png"/>
			<img src="/imgs/greatest_11.png"/>
			<img src="/imgs/greatest_12.png"/>
			<img src="/imgs/greatest_13.png"/>
			<img src="/imgs/greatest_14.png"/>
			<img src="/imgs/greatest_15.png"/>
			<img src="/imgs/greatest_16.png"/>
		</div>
	</body>
</html>
