<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>加盟流程</title>
	</head>
	<style>
		img{
			width:100%;
			height:auto;
			float:left;
		}
	</style>
	<body>
		<div class="greatest" style="width:1200px;margin:0 auto;">
			<img src="/imgs/flow_01.jpg"/>
			<img src="/imgs/flow_02.jpg"/>
			<img src="/imgs/flow_03.jpg"/>
			<img src="/imgs/flow_04.jpg"/>
			<img src="/imgs/flow_05.jpg"/>
			<img src="/imgs/flow_06.jpg"/>
			<img src="/imgs/flow_07.jpg"/>
			<img src="/imgs/flow_08.jpg"/>
			<img src="/imgs/flow_09.jpg"/>
		</div>
	</body>
</html>
