<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>申请加盟</title>
		<link rel="stylesheet" href="/css/apply_jia.css?v=b3a8ba7b20" />
	</head>
	<body>
		<div class="apply">
			<img src="/imgs/apply_03.png"/>
			<div class="user_information">
				<ul>
				<li><span>姓名<small> (*必填)</small></span><div><input type="text" /></div></li>
				<li><span>性别</span><p><input type="radio" id="nan" name="sex"/><label for="nan">男</label><input type="radio" name="sex" id="lady"/><label for="lady">女</label></p></li>
				<li><span>手机<small> (*必填)</small></span><div><input type="text" /></div></li>
				<li><span>意向地区/城市<small> (*必填)</small></span><div><input type="text" /></div></li>
				<li><span>详细地址</span><div><input type="text" /></div></li>
				<li><span>邮箱</span><div><input type="text" /></div></li>
				<li><span>QQ</span><div><input type="text" /></div></li>
				<li><span>有无店铺</span><p><input type="radio" id="have_house" name="dian"/><label for="have_house">有</label><input type="radio" name="dian" id="no_house"/><label for="no_house">无</label></p></li>
				<li><span>有无经营经验</span><p><input type="radio" id="have_jing" name="jing"/><label for="have_jing">有</label><input type="radio" name="jing" id="no_jing"/><label for="no_jing">无</label></p></li>
				</ul>
				<textarea name="" rows="" cols="" class="yijian" placeholder="留言内容：" maxlength="500"></textarea>
				<button class="sub_btn">提交申请</button>
			</div>
		</div>
	</body>
</html>
