<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/user_centre.css?v=9515e5f968" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/my_purse.css?v=3a5df153cb" />
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script src="/js/user_login.js"></script>
		<title>积分兑换</title>
	</head>
	<body>
		<%- include('_partial/headerHTML') %>
		<%- include('_partial/tabHTML') %>
		<div class="wrap">
			
          <div class="leader_logo">
          	<img src="/imgs/jifen_02.png"/>
          </div>
          <div class="board_list">
          	<div class="user_detail">
          		<dl>
          			<dt><a href=""><img src="/imgs/head.png"/></a><img src="/imgs/vip.png" alt="" /></dt>
          			<dd><p>我是一只猫咪</p><h2><span>600</span>积分</h2></dd>
          		</dl>
          		<a href="#" class="back_user">返回个人中心</a>
          	</div>
          	<div class="benefit_cash">
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><h1>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来</h1><p>￥50+100积分</p></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><small>满200元使用此优惠券</small><h2>优惠券</h2><h3>￥200积分</h3></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><h4>优惠券</h4><h3>￥200积分</h3></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><h1>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来</h1><p>￥50+100积分</p></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><small>满200元使用此优惠券</small><h2>优惠券</h2><h3>￥200积分</h3></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><h4>优惠券</h4><h3>￥200积分</h3></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><h1>韩国JAYJUN樱花水光面膜天然护肤水光美肌敷光美出来出来</h1><p>￥50+100积分</p></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><small>满200元使用此优惠券</small><h2>优惠券</h2><h3>￥200积分</h3></dd>
          			</dl>
          		</a>
          		<a href="#">
          			<dl>
          				<dt><img src="/imgs/jifen_05.png"/></dt>
          				<dd><h4>优惠券</h4><h3>￥200积分</h3></dd>
          			</dl>
          		</a>
          	</div>
          </div>
		</div>
		</div>
	</div>
		<script src="/js/picture.js"></script>
	</body>
</html>
