<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/revision_psd.css?v=d83ac90d2f" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/user_centre.css?v=9515e5f968" />
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script src="/js/user_login.js"></script>
		<title>我的卡券</title>
	</head>
	<body>
		<%- include('_partial/headerHTML') %>
		<%- include('_partial/tabHTML') %>
		<div class="revision">
			<div class="psd_box">
				<ul style="margin-bottom:0;">
					<li>我的卡券</li>
				</ul>
				<!--<div class="kaquan">
					<div class="cou_num">
                 			<h2>¥</h2>
                 			<h1>5</h1>
                 		</div>
                 		<div class="cou_result">
                 			全场通用
                 		</div>
                 		<h3><label>使用条件：</label><span>满100元可用</span></h3>
                 		<h3><label>使用时间：</label> <span>2016.09.10-2016.09.20</span></h3>
				</div>
				<div class="kaquan">
					<div class="cou_num">
                 			<h2>¥</h2>
                 			<h1>5</h1>
                 		</div>
                 		<div class="cou_result">
                 			全场通用
                 		</div>
                 		<h3><label>使用条件：</label><span>满100元可用</span></h3>
                 		<h3><label>使用时间：</label> <span>2016.09.10-2016.09.20</span></h3>
				</div>
				<div class="kaquan">
					<div class="cou_num">
                 			<h2>¥</h2>
                 			<h1>5</h1>
                 		</div>
                 		<div class="cou_result">
                 			全场通用
                 		</div>
                 		<h3><label>使用条件：</label><span>满100元可用</span></h3>
                 		<h3><label>使用时间：</label> <span>2016.09.10-2016.09.20</span></h3>
				</div>
				<div class="kaquan">
					<div class="cou_num">
                 			<h2>¥</h2>
                 			<h1>5</h1>
                 		</div>
                 		<div class="cou_result">
                 			全场通用
                 		</div>
                 		<h3><label>使用条件：</label><span>满100元可用</span></h3>
                 		<h3><label>使用时间：</label> <span>2016.09.10-2016.09.20</span></h3>
				</div>
				<div class="kaquan">
					<div class="cou_num">
                 			<h2>¥</h2>
                 			<h1>5</h1>
                 		</div>
                 		<div class="cou_result">
                 			全场通用
                 		</div>
                 		<h3><label>使用条件：</label><span>满100元可用</span></h3>
                 		<h3><label>使用时间：</label> <span>2016.09.10-2016.09.20</span></h3>
				</div>
				<div class="kaquan">
					<div class="cou_num">
                 			<h2>¥</h2>
                 			<h1>5</h1>
                 		</div>
                 		<div class="cou_result">
                 			全场通用
                 		</div>
                 		<h3><label>使用条件：</label><span>满100元可用</span></h3>
                 		<h3><label>使用时间：</label> <span>2016.09.10-2016.09.20</span></h3>
				</div>-->
			</div>
		</div>
		</div>
		</div>
		
		<script src="/js/picture.js"></script>
		<script src="/js/my_kaquan.js?v=237e32f19b"></script>
	</body>
</html>
