<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>洋窝儿-我的消息-通知消息</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/user_centre.css?v=9515e5f968" />
	</head>
	<body>
		<div class="wrap">
			<div class="box_bg">
			 <%- include('_partial/headerHTML') %>
			</div>
			<div class="user_centre" style="height:604px;"><!--1200 -->
                <div class="user_centre_list" style="height:204px;"><!--196 738 -->
                      <div class="list_head">
                                                                                    我的消息
                      </div>
                      <ul style="width:105px;">
                      	<li style="padding-top:20px"><a href="#">交易物流消息</a></li>
                      	<li><a href="#">通知消息</a></li>
                      </ul>
                </div>
                
                <div class="user_detail">
                   
                </div>
			</div>
		</div>
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/picture.js?v=90c1841832"></script>
		<script type="text/javascript">
		 picture.init();
		 $("#commodityS").on("mouseenter",function(){
		 	  $(this).find("ol").show();
		 })
		 $("#commodityS").on("mouseleave",function(){
		 	  $(this).find("ol").hide();
		 })
		    
		</script>
	</body>
</html>
