<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/my_news.css?v=183c4d0e63" />
		<title>通知消息</title>
	</head>
	<body>
		<div class="new_wrap">
			<h1>系统消息<span>清空</span></h1>
			<ul>
				<li>
					<div><img src="/imgsmy_news.png" alt="" />通知消息<time>今天 9：21</time></div>
					<p><label>卡了和度覅偶丹佛看着对面的健康路三段老师空间按到了快三十里看到老师看到了快三十里人人</label><span>查看详情<img src="/imgsmy_news01.png" alt="" /></span></p>
				</li>
				<li>
					<div><img src="/imgsmy_news.png" alt="" />通知消息<time>今天 9：21</time></div>
					<p><label>卡了和度覅偶丹佛看着对面的健康路三段老师空间按到了快三十里看到老师看到了快三十里人人</label><span>查看详情<img src="/imgsmy_news01.png" alt="" /></span></p>
				</li>
			</ul>
		</div>
	</body>
</html>
