<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>大品牌特惠</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc">
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/preference.css?v=014d09f773">
	</head>

	<body>
		<div class="wrap">
		   <%- include('_partial/headerHTML') %>
	        <div class="boxBackColr">
	        	
	        	<div class="content">
	        		
	        		<header class="collect">
	        			<dl>
	        				<dt><img src=""></dt>
	        				<dd>
	        				   
	        				</dd>
	        			</dl>
	        			<div>
	        				<p><label><input type="checkbox" id="collect"><span>收藏品牌</span></label></p>
	        				<p><span id="number"></span>人收藏该品牌</p>
	        			</div>
	        		</header>
	        	
	        		<div class="sp-list">
	        			
                        
	        		</div>
	        	</div>
	        </div>
		   

		</div>

		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script src="/js/picture.js?v=90c1841832"></script>
		<script src="/js/preference.js?v=75e3193d25"></script>
	</body>

</html>