<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<title>购物流程</title>
	</head>
	<style>
		.process{
			width:952px;
			height:4774px;
			background-color: #ffffff;
          box-shadow: 0px -1px 4px 0 rgba(6, 0, 1, 0.11);
		}
		.process img{
			width:100%;
			height:auto;
			float:left;
		}
	</style>
	<body>
		<div class="process">
			<img src="/imgs/process_03.png" alt="" />
			<img src="/imgs/process_05.png" alt="" />
			<img src="/imgs/process_07.png" alt="" />
			<img src="/imgs/process_08.png" alt="" />
			<img src="/imgs/process_09.png" alt="" />
			<img src="/imgs/process_10.png" alt="" />
			<img src="/imgs/process_11.png" alt="" />
			<img src="/imgs/process_12.png" alt="" />
		</div>
	</body>
</html>
