<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>专题</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc">
		<link rel="stylesheet" href="/css/pc_classify.css?v=768a99a900" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/show.css?v=52c72bd746">
	</head>
	
	<body>
		<div class="wrap">
			<div class="box_bg">
			   <%- include('_partial/headerHTML') %>
			</div>
			<div class="chop_hand_img" id="seminar_banner">
			</div>
			
		<div class="sp_list" style="padding:20px 0">
		<section class="classifyBox fiery" id="chop_hand">
					<div class="classify-content">
						<!--<a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                       <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>-->
					</div>
                   
				</section>				
				
		
		</div>
	<script src="/js/jquery.js?v=46639776ff"></script>
	 <script src="/js/sessionStorage.js?v=957609ddb6"></script>
   <script src="/js/picture.js?v=90c1841832"></script> 
   <script src="/js/seminar_ti.js?v=9b96695949"></script>
	</body>
</html>
