<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>洋窝儿-订单详情</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/shopping_detail.css?v=97e2625598" />
	</head>
	<body>
		<div class="wrap">
			<div class="box_bg">
			 <%- include('_partial/headerHTML') %>
			</div>
			<div class="shop_url">
				<p>
				全部<img src="/imgs/find.png" alt="" /><a href="#">交易管理</a><img src="/imgs/find.png" alt="" /><a href="#">我的订单</a><img src="/imgs/find.png" alt="" /><a href="#">订单详情</a>
				</p>
			</div>
			<div class="shop_detail">
				<div class="shop_anarchy">
					
					<span></span><p></p><span></span><p></p><span></span><p></p><span></span>
					<ul>
						<li>等待付款</li>
						<li>等待发货</li>
						<li>卖家已发货</li>
						<li>确认收货</li>
					</ul>
					
				</div>
				<div class="sp_list">
				<!--<div class="order_inform">
					<div class="shop_inform">
						<h1>订单信息</h1>
						<p><label>收货地址:</label><span>北京北京市朝阳区朝阳门银河SOHOD座5楼50555一了中 楼二单元251</span></p>
						<p>订单编号:<span>2113112121212132121</span></p>
						<p>下单时间:<span>2016-10-20   10:20:53</span></p>
					</div>
					<div class="shop_oblig">
						<img src="/imgszhtai.png" alt="" />
						<div class="shop_nopay">
							<p>当前状态：<span>等待买家付款</span></p>
							<small>还有<span>29分钟58秒</span>进行付款，若未及时付款，系统将自动取消订单</small>
							<a href="#">立即付款</a><button>取消订单</button>
						</div>
					</div>
				</div>-->
				<!--<div class="shop_bay">由<span>深圳***保税仓</span>发货</div>
				<table>
					<tr>
						<td>商品信息</td>
						<td>商品规格</td>
						<td>单价(元)</td>
						<td>数量</td>
						<td>总计(元)</td>
					</tr>
					<tr class="trs">
						<td>
							<dl>
								<dt><img src="/imgsuser_centre_03.png"/></dt>
								<dd>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</dd>
						   </dl>
						</td>
						<td>水果味</td>
						
					</tr>
					<tr>
						<td>
							<dl>
								<dt><img src="/imgsuser_centre_03.png"/></dt>
								<dd>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</dd>
						   </dl>
						</td>
						<td>水果味</td>
						
					</tr>
				</table>-->
				<!--<div class="shop_total">
					<p><label>税费：</label><span>￥25</span></p>
					<p><label>使用优惠券：</label><span><!--<select name="">
						<option value="">不使用优惠券</option>
						<option value="">省10元，满200减10元</option>
					</select><img src="/imgsup_la.png" class="up_la"/></span>
					</p>
					<!--<p><label>消耗洋币：</label><span>不可用(不可与优惠券同享)</span><img src="/imgsno_total.png"/></p>
					<p><label>配送方式：</label><span>默认EMS包邮</span></p>
					<p><label>应付金额：</label><span>￥280.8</span></p>
				</div>-->
				<!--<div class="geuss_like" id="user_like">
				</div>-->
				<!--<div class="huan_like" id="user_replace">
					<h1>猜你喜欢</h1>
					<p><span>换一批</span><img src="/imgsfenlei_55.png"/></p>
				</div>-->
				<!--<section class="fiery" id="userReplace_like">
					<div class="classify-content">
						<a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                       <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                       <a href="#" class='spStyle'>
	                        <dl>
	                        	<dt>
	                        		<img src="images/dom15.png">
	                        	</dt>
	                        	<dd>
	                        		<h1>2016海宁冬季长袖时尚短款狐狸毛皮草短外套女显瘦毛领新款女装</h1>
	                        		<p class="original">￥123<span>￥155</span></p>
	                        	</dd>
	                        </dl>
                        </a>
                        </div>
					</section>-->
			</div>
			</div>
			<div class="away_order">
				<div class="bomb_box">
					<p><img src="/imgs/bomb_01.png"/><span>您确定要取消该订单吗？取消订单后，不能恢复</span></p>
					<div>
						<label>请选择您要取消订单的理由：</label>
						<div>
							<select class="choose_select">
								<option value="">请选择退货原因</option>
								<option value="">我不想买了</option>
								<option value="">信息填写错误，重新拍</option>
								<option value="">卖家缺货</option>
								<option value="">同城见面交易</option>
								<option value="">拍错了</option>
								<option value="">其他问题</option>
							</select>
							<img src="/imgs/up_la.png" alt="" />
							</div>
					</div>
					<h2 class="choose_infor"><img src="/imgs/bomb_02.png"/><span>请选择一种理由</span></h2>
					<h3><a class="confirm_infor">确定</a><a class="cancel_infor">取消</a></h3>
				</div>
			</div>
			
			<div class="take_over">
				<div class="confirm_order">
					<p>请确认是否已收到货？</p>
					<p><button class="cancel_over">取消</button><button class="confirm_over">确定</button></p>
				</div>
			</div>
		</div>
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script src="/js/picture.js?v=90c1841832"></script>
		<script src="/js/shopping_detail.js?v=bd83ac5cbe"></script>
		<script type="text/javascript">
		
		 $("#commodityS").on("mouseenter",function(){
		 	  $(this).find("ol").show();
		 })
		 $("#commodityS").on("mouseleave",function(){
		 	  $(this).find("ol").hide();
		 })
		  /*var str='<td rowspan="2">￥100.00</td>' + 
		            '<td rowspan="2">*1</td>' + 
		            '<td rowspan="2">￥100.00</td>' ;
		       $(".trs").append(str);
		       $(".trs").find("td").css({"border-left":"1px solid #ebebeb","text-align":"center"})*/
		</script>
	</body>
</html>
