<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>品牌馆</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc">
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" type="text/css" href="/css/trademark.css?v=017ef67085"/>
	</head>

	<body>
		<div class="wrap">
			 <%- include('_partial/headerHTML') %>
			<div class="bannerBox" style="overflow: hidden;">
				<div class="bannerBox-a">
					<img src="/imgs/pinpai_banner.jpg"/>
				</div>
			</div>
			<div class="content">
				<section class="brand">
					<header class="brand-header">
						<h1>大牌特惠 </h1>
					</header>
					<ol class="brand-img" id="brand-img">
						
				    </ol>
				</section>
				
				
			</div>
		

		</div>

		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script src="/js/picture.js?v=90c1841832"></script>
		<script src="/js/trademark.js?v=0d97a1c886"></script>
		<script>
			trademark.init()
	
		</script>
	</body>

</html>