<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>洋窝儿-订单物流详情</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/shopping_detail.css?v=97e2625598" />
		<link rel="stylesheet" href="/css/my_news.css?v=183c4d0e63" />
	</head>
	<body>
		<div class="wrap" style="background:#F5F5F5">
			<div class="box_bg">
			 <%- include('_partial/headerHTML') %>
			</div>
			<div class="shop_url">
				<p>
				全部<img src="/imgs/find.png" alt="" /><a href="#">交易管理</a><img src="/imgs/find.png" alt="" /><a href="#">我的订单</a><img src="/imgs/find.png" alt="" /><a href="#">物流详情</a>
				</p>
			</div>
			<div class="trade_detail">
				<div class="trade_anarchy">
					<div>
					<span></span><p></p><span></span><p></p><span></span>
					<ul>
						<li>商品出库</li>
						<li>物流配送</li>
						<li>签收</li>
					</ul>
					</div>
				</div>
				<div class="wuliu">
					<div class="dingdan">
						<h1>订单信息</h1>
						<dl>
							<dt><img src="/imgs/duihuan_03.png"/></dt>
							<dd>
								<h2>￥183</h2>
								<p>订单状态：已发货</p>
								<p>物流公司：中国邮政物流</p>
								<p>运单单号：14644561213456788</p>
							</dd>
						</dl>
					</div>
					<div class="track-list">
                <ul>
                    <li class="first">
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">【洋窝儿到家】洋窝儿配送员【黄旭】已出发，联系电话【18410106883，感谢您的耐心等待，参加评价还能赢取洋币呦】</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                     <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                     <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">2016-03-10 18:07:15</span>
                        <span class="txt">感谢您在洋窝儿购物，欢迎您再次光临！</span>
                    </li>
                </ul>
           </div>	
				</div>	
			 
			 <div class="shouhuo_dress">
			 	<p>订单编号<span>198486465498465465</span> </p>
			 	<p>收货地址<span>黄旭  188****0422</span></p>
			 	<div>河南省郑州市高新区笑那么小二郎背着书包上学堂不怕风雨不畏严寒</div>
			 </div>
            
			</div>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			</div>
		</div>
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script src="/js/sessionStorage.js"></script>
		<script src="/js/picture.js?v=90c1841832"></script>
		<script type="text/javascript">
		 $("#commodityS").on("mouseenter",function(){
		 	  $(this).find("ol").show();
		 })
		 $("#commodityS").on("mouseleave",function(){
		 	  $(this).find("ol").hide();
		 })
		    
		</script>
	</body>
</html>
