<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>微营销-提现</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/replace_psd.css?v=5bf5411c30" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
	</head>
	<body>
		<div class="wrap" style="display: none;">
			<div class="box_bg">
			 <%- include('_partial/headerHTML') %>
			</div>
			<div class="pc_replace">
				<div class="psd_find">
					<a href="">首页</a><span><img src="/imgs/find.png"/>提现</span>
				</div>
				<div class="concrete_psd">
					<div class="concrete_psd_01 concrete weiying_cash">
					<img src="/imgs/tixian_03.png"/>
					<div class="wei_cash_01">
						<h1>余额：<span id="balance_money">1010.20</span></h1>
						<p><label>收款方：</label>
							<span id="wei_cash" style="display: none;"><input type="radio" name="cash" class="wei_cash" data-accout_type="2"/><img src="/imgs/weixin_01.png"/>微信</span>
							<span id="zhi_cash" style="display: none;"><input type="radio" name="cash" class="zhi_cash" data-accout_type="1"/><img src="/imgs/zhifubao.png"/>支付宝</span>
						</p>
						<h2>提现金额：<input type="number" value="" id="deposit"/></h2>
						<h3>手续费：￥<span id="procedure">0</span></h3>
						<h6>手续费为0.1%由第三方收取，非【洋窝儿】收取</h6>
						<button class="cash_btn" id="cash_btn">确认提现</button>
					</div>
				</div>
				<div class="concrete_psd_02 concrete weiying_cash">
					<img src="/imgs/tixian_12.png"/>
					<div class="phone_num">
						<div class="wei_cash_phone">
							<p>洋窝儿注册手机号：<span id="user_phone"></span></p>
							<p><input type="text" placeholder="输入验证码" class="yzm_text"/>
							<button class="cash_phone_yzm" id="wei_cash_yzm">获取验证码</button></p>
							<h2 id="wei_cash_yzmText" style="display: none;">验证码有误</h2>
						</div>
						<div class="yzm_btn">
							<button class="prev_btn" id="wei_cash_prev">上一步</button><button class='next_btn' id="wei_cash_btn">确定</button>
						</div>
					</div>
				</div>
				<div class="concrete_psd_03 concrete weiying_cash">
					<img src="/imgs/tixian_06.png"/>
					<div class="phone_num wei_cash_suc">
						<p><img src="/imgs/wei_suc.png"/></p>
						<p>提现完成</p>
						<h1>申请已提交，3个工作日内审核完毕，结果会以短信形式发送到您注册时的手机号上</h1>
						<button class="finished_psd" id="finish_cash">完成</button>
					</div>
				</div>
				
				<!--<div class="no_band">
					<p>您还没有绑定收款账户哦！</p>
					<a href="">去绑定</a>
				</div>-->
				</div>
				
			</div>
		</div>
		<script type="text/javascript" src="/js/jquery.min.js?v=5b5a269bd3"></script>
		<script type="text/javascript" src="/js/sessionStorage.js?v=957609ddb6"></script>
		<script type="text/javascript" src="/js/picture.js?v=90c1841832"></script>
		<script type="text/javascript" src="/js/wei_cash.js?v=4c48abf7e4"></script>
		<script type="text/javascript">
		/* picture.init();
		 $("#commodityS").on("mouseenter",function(){
		 	  $(this).find("ol").show();
		 })
		 $("#commodityS").on("mouseleave",function(){
		 	  $(this).find("ol").hide();
		 })
		     var wait=60,countdown=null,user_phone=null,str=null;  
	        function time(o) {  
		        if (wait == 0) {  
		            o.removeAttribute("disabled");            
		            o.innerHTML="重新发送";  
		            wait = 60; 
		        } else {  
		            o.setAttribute("disabled", true);  
		            o.innerHTML="重新发送(" + wait +"s)";  
		            wait--;  
		            setTimeout(function() {  
		                time(o);  
		            },  
		            1000)  
		        }  
	        }  
	        if($(".user_phone").val()==""){
	        	$(".user_phone").on("blur",function(){
		       	 	$(".test_point").hide();
		       	 })
	        }
	        
	        function test_phone(){
	        	if($(".user_phone").val()==""){
		       	  	$(".test_point").show();
       	    	$(".test_point").text("请输入手机号码！");
		       	  	return false;
       	   }else{
       	   	var reg=/^1[34578]\d{9}$/;
       	   	if(!reg.test($(".user_phone").val())){
				 $(".test_point").show();
       	    	$(".test_point").text("手机号码格式不正确！")
				 return false;
       	    }
       	   }
       	     $(".test_point").hide();
       	     return true;
	        }
	        $(".phone_yzm").on("click",function(){
	        	time(this);
	        })
			$(".phone_btn").on("click",function(){
				if(!test_phone()) return false;
				$(".concrete").eq(0).hide();
				$(".concrete").eq(1).show();
				user_phone=$(".concrete").eq(0).find(".user_phone").val();
				str= user_phone.substr(0,3)+"****"+user_phone.substr(7);
				$(".concrete").eq(1).find(".user_test").html(str);
				countdown=$(".concrete").eq(1).find(".phone_yzm").get(0);
				time(countdown);
			})
			$(".prev_btn").on("click",function(){
				$(".concrete").eq(0).show();
				$(".concrete").eq(1).hide();
				//$(".concrete").eq(1).find(".phone_yzm").html("重新发送(59s)");
				wait=0;
			})
			$(".next_btn").on("click",function(){
				$(".concrete").eq(2).show();
				$(".concrete").eq(1).hide();
			})*/
		</script>
	</body>
</html>
