<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>洋窝儿-付款3</title>
		<link rel="stylesheet" href="/css/reset.css?v=376ee667cc" />
		<link rel="stylesheet" href="/css/commonality.css?v=17611828b6">
		<link rel="stylesheet" href="/css/my_news.css?v=183c4d0e63" />
	</head>

	<body>
		<div class="wrap" style="background:#F5F5F5">
			<div class="box_bg">
				<header class="header leftRight-box">
					<div class="leftBox">
						<li>
							<div href="javascript:;" class="a"><span>欢迎来到洋窝儿</span><i class="arr"></i>
								<div class="message">
									<div class="news">
										<span href="#">消息</span>
										<span href="#">退出</span>
									</div>
									<header>
										<img src="images/dom17.png" />
										<img src="images/dom18.png" />
										<p>我可享受<span>4</span>项特权</p>
									</header>
									<p class="ptext">距离<span>生日特权</span>还剩<span>50</span>天</p>
									<section class="privilegeBox">
										<dl>
											<dt><img src="images/dom19.png"></dt>
											<dd>生日特权</dd>
										</dl>
										<dl>
											<dt><img src="images/dom19.png"></dt>
											<dd>生日特权</dd>
										</dl>
										<dl>
											<dt><img src="images/dom19.png"></dt>
											<dd>生日特权</dd>
										</dl>
										<dl>
											<dt><img src="images/dom19.png"></dt>
											<dd>生日特权</dd>
										</dl>
									</section>
								</div>
							</div>

						</li>
						<li>
							<div>
								<a href="javascript:;" style="padding: 0 10px;">登录</a>
							</div>
						</li>
						<li>
							<div>
								<a href="javascript:;" style="padding: 0 10px;">注册</a>
							</div>
						</li>

					</div>
					<div class="rightBox">
						<li class="cart">
							<div>
								<a href="#">购物车<span class="cartAmount">(12)</span></a>
							</div>
						</li>
						<li>
							<div>
								<a href="#">我的订单</a>
							</div>
						</li>
						<li>
							<div>
								<a href="#">个人中心</a>
							</div>
						</li>
						<li>
							<div class="a" style="padding-right: 10px;">洋窝儿APP
								<ol class="AppCode">
									<a href="#">
										<img src="/images/code.png" />
										<span>下载APP</span>
										<span>领取新人100</span>
									</a>
								</ol>
							</div>
						</li>
						<li class="li1">
							<div class="a">客服服务<i class="arr"></i>
								<ol class="service">
									<li>
										<a href="javascript:;">帮助中心</a>
									</li>
									<li>
										<a href="javascript:;">联系我们</a>
									</li>
								</ol>
							</div>
						</li>
						<li class="li1">
							<div class="a">更多<i class="arr"></i>
								<ol class="more">
									<li>
										<a href="javascript:;">关于我们</a>
									</li>
									<li>
										<a href="javascript:;">收藏本站</a>
									</li>
								</ol>
							</div>
						</li>
					</div>
				</header>
				<div class="searchBox">
					<div class="icon">
						<img src="/images/icon.png">
					</div>
				</div>
			</div>

			<div class="zhifu_suc">
				<h1><img src="/imgs/zhifu_01.png"/>支付成功! 
			   		<small>我们会在24小时内发货，请您耐心等待~</small>
			   		<a href="#">返回我的订单</a>
			   	</h1>
				<h2><img src="/imgszhifu_02.png"/>分享赚**元: <span>去分享 >></span>
    <div class='share'>
        <div class="bdsharebuttonbox"><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a></div> </h2>

				<p>加入洋窝儿的微营销，分享链接到第三方平台（微博，微信，QQ等），小伙伴从你分享的链接进入洋窝儿购物， 你最高可以获得TA订单总额10%收益，进入“我的”—“微营销”查看</p>

			</div>
			<br />
			<br />
			<br />
			<br />
		</div>
		<script src="/js/jquery.min.js?v=5b5a269bd3"></script>

		<script type="text/javascript">
			//分享到qq好友 qq空间 新浪微博 微信等；
			window._bd_share_config = {
				"common": {
					"bdSnsKey": {},
					"bdText": "asdasdsdasdsa",
					"bdMini": "1",
					"bdMiniList": false,
					"bdPic": "",
					"bdStyle": "1",
					"bdSize": "16",
					"bdText":"1423",
					"bdDesc":"sdasd",
					"bdUrl" : "https://ywdev.youngworld.com.cn/html/pc/templates/details.html?goods_id=212",
					"bdPic":"http://yangwoer.oss-cn-beijing.aliyuncs.com/goods/3182518.jpeg@!height_width"
				},
				"share": {},
				"image": {
					"viewList": ["tsina", "tqq", "qzone", "weixin", "sqq"],
					"viewText": "",
					"viewSize": "16"
				},
				"selectShare": {
					"bdContainerClass": null,
					"bdSelectMiniList": ["tsina", "tqq", "qzone", "weixin", "sqq"]
				}
			};
			with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
		</script>

		</script>
	</body>

</html>