.pc_replace {
  width: 100%;
  height: 300px;
  background: url(../imgs/join_bg.png);
  background-size: 100% 100%;
}
.pc_replace h1 {
  font-size: 36px;
  color: #fff;
  width: 432px;
  margin: 0 auto;
  padding-top: 70px;
}
.pc_replace ul {
  width: 820px;
  margin: 0 auto;
  padding-top: 62px;
}
.pc_replace ul li a {
  width: 96px;
  height: 32px;
  float: left;
  margin-left: 20px;
  background: #fff;
  border-radius: 16px;
  color: #000;
  text-align: center;
  line-height: 32px;
}
.pc_replace ul a:hover {
  background: #ff9600;
  color: #fff;
}
.discount {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.share_word {
  width: 520px;
  margin: 0 auto;
  height: 32px;
  margin-top: 43px;
}
.share_word #bds_weixin {
  width: 80px;
  height: 32px;
  margin-left: 12px;
  float: left;
  background: url(../imgs/join_weixin.png);
  background-size: 100% 100%;
}
.share_word #bds_sqq {
  width: 102px;
  height: 32px;
  margin-left: 12px;
  float: left;
  background: url(../imgs/join_qq.png);
  background-size: 100% 100%;
}
.share_word #bds_qzone {
  width: 103px;
  height: 32px;
  margin-left: 12px;
  float: left;
  background: url(../imgs/join_air.png);
  background-size: 100% 100%;
}
.share_word #bds_tsina {
  width: 108px;
  height: 32px;
  margin-left: 12px;
  float: left;
  background: url(../imgs/join_weibo.png);
  background-size: 100% 100%;
}
.share_word small {
  float: left;
  line-height: 32px;
}
#bdshare_weixin_qrcode_dialog {
  height: 313px !important ;
}
.comment {
  width: 1200px;
  height: 783px;
  margin-top: 30px;
  border: 1px solid #EEEEEE;
}
.comment h2 {
  font-size: 16px;
  padding: 20px 0 20px 19px;
}
.comment textarea {
  width: 1160px;
  height: 78px;
  resize: none;
  outline: none;
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  line-height: 21px;
}
.comment button {
  width: 84px;
  height: 30px;
  background-color: #3f231e;
  border: solid 1px #3f231e;
  color: #fff;
  font-size: 14px;
  margin: 10px 0 0 19px;
  outline: none;
}
.comment h3 {
  font-size: 16px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 11px;
  padding-left: 19px;
  border-bottom: 1px solid #ccc;
}
.comment ul {
  padding-left: 19px;
}
.comment ul dl {
  display: -webkit-box;
  width: 100%;
  padding-top: 17px;
  position: relative;
}
.comment ul li {
  width: 1160px;
  height: auto;
  border-bottom: 1px solid #ebebeb;
}
.comment ul li dt img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment ul li dd {
  line-height: 30px;
  padding-left: 6px;
}
.comment ul li dd h4 {
  font-size: 12px;
  font-weight: normal;
}
.comment ul li dd time {
  position: absolute;
  right: 0;
  top: 9px;
  font-size: 12px;
}
.comment ul li p {
  font-size: 12px;
  color: #040000;
  padding: 5px 10px 13px 0;
}
