* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.box {
  width: 100%;
  height: 173px;
  background: #fff;
}
/*------------------------------------分类列表-------------------------------------------------*/
.sp_list {
  width: 1200px;
  margin: 0 auto;
  font-family: Microsoft YaHei;
}
.sp_result {
  width: 1200px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  overflow: hidden;
}
.sp_result div,
.sp_result ol {
  float: left;
}
.sp_result ol {
  overflow: hidden;
}
.sp_result li {
  float: left;
}
.sp_result img {
  width: 4px;
  height: 8px;
  margin: 0 12px;
}
.sp_result span img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 6px;
  right: -8px;
}
.sp_result span:last-of-type {
  background-color: #ffffff;
  border: solid 1px #ff9600;
  display: inline-block;
  line-height: 24px;
  padding: 0 20px 0 11px;
  position: relative;
}
.sp_name {
  width: 1200px;
  margin-bottom: 20px;
}
.sp_name li {
  width: 1200px;
  overflow: auto;
  max-height: 150px;
  line-height: 49px;
  border-bottom: 1px dashed #ededed;
  background: #fff;
  position: relative;
}
.sp_name li label {
  font-size: 13px;
  float: left;
  width: 90px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}
.sp_name li div {
  float: left;
  width: 1000px;
  max-height: 150px;
  margin-left: 90px;
}
.sp_name li a {
  font-size: 13px;
  color: #000;
  padding-right: 35px;
  display: inline-block;
  line-height: 49px;
}
.sp_name li:last-of-type {
  border-bottom: none;
}
.sp_name li:last-of-type label {
  border-bottom: none;
}
.sp_show {
  width: 1200px;
  height: 38px;
  background: #fff;
  line-height: 38px;
  margin: 25px 0 14px 0;
  clear: both;
  border: solid 1px #ccc;
}
.sp_show li {
  float: left;
  width: 96.5px;
  height: 38px;
  border-right: solid 1px #ccc;
  text-align: center;
  font-size: 13px;
}
.sp_show li.active {
  border: 1px solid #ff9600;
  position: relative;
  top: -1px;
  left: -1px;
}
.sp_show a {
  color: #000;
}
.sp_show img {
  vertical-align: middle;
}
.sp_show p {
  float: right;
}
.sp_show p button {
  height: 38px;
  width: 30px;
  border: none;
  outline: none;
  background: none;
  margin-right: 21px;
}
.sp_show span {
  color: #666;
  font-size: 15px;
}
.sp_show span:nth-of-type(2) {
  margin-right: 32px;
}
/*-----------------------------------------------------换一换猜你喜欢-------------------------------------------*/
.geuss_like {
  width: 1200px;
  height: 16px;
  border-top: 1px dashed #000;
  padding-top: 37px;
  background: #fff;
}
.huan_like {
  width: 1200px;
  height: 37px;
  background: #fff;
}
.huan_like h1 {
  font-family: FZLanTingHeiS-R-GB;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #666666;
  padding-left: 20px;
  float: left;
}
.huan_like p {
  float: right;
  font-family: FZLanTingHeiS-R-GB;
  font-size: 16px;
  color: #666666;
}
.huan_like p img {
  margin: 0 16px 0 14px;
  vertical-align: middle;
}
.fiery {
  background: #fff;
}
#guess_like a {
  width: 220px;
  height: 318px;
  display: block;
  float: left;
  border: 1px solid #ccc;
  margin-right: 15px;
}
#guess_like a:hover {
  width: 220px;
  height: 318px;
  border: 1px solid #919090;
}
#guess_like dl {
  width: 218px;
  height: 318px;
  margin: 0 auto;
}
#guess_like dl dt {
  width: 218px;
  height: 220px;
  line-height: 218px;
  text-align: center;
  border: none;
}
#guess_like dl dt img {
  width: 218px;
  height: 218px;
  position: initial;
}
#guess_like dl dd {
  border-top: 1px solid #ccc;
}
#guess_like dl h1 {
  font-size: 12px;
  font-weight: normal;
}
#guess_like dl p {
  font-size: 17px;
}
#guess_like dl p span {
  font-size: 12px;
}
.jump_page {
  width: 1200px;
  background: #fff;
  height: 122px;
  line-height: 122px;
  text-align: center;
  clear: both;
}
.pager-list {
  display: inline-block;
  font-size: 13px;
  width: auto;
  height: 122px;
  margin: 0 auto;
  background: #fff;
}
.pager-list > .pager {
  display: block;
  position: relative;
  width: auto;
  padding-top: 38px;
}
.pager-list ul li {
  list-style: none;
  float: left;
  margin: 0 3px;
  width: 38px;
  height: 38px;
  font-size: 13px;
  margin: 0 8px;
}
.pager-list ul li.next,
.pager-list ul li.prev {
  width: 98px;
  height: 38px;
  background-color: #ffffff;
  border: solid 1px #3f231e;
  line-height: 38px;
}
.pager-list ul li.next a,
.pager-list ul li.prev a {
  border: none;
  width: 98px;
  height: 38px;
}
.pager-list ul li.next img {
  margin-left: 18px;
}
.pager-list ul li.prev img {
  margin-right: 18px;
}
.pager-list ul li.disable a {
  color: #666;
}
.pager-list ul li.text {
  display: block;
  width: auto;
  line-height: 38px;
  font-size: 13px;
  text-align: center;
  color: #666;
  margin: 0 10px;
}
.pager-list ul li.text input.go {
  width: 38px;
  height: 38px;
  margin: 0 6px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  text-align: center;
}
.pager-list ul li.text select.go {
  width: 77px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}
.pager-list ul li.text span.go {
  color: #666;
  display: inline-block;
  margin-left: 30px;
  width: 77px;
  height: 38px;
  border: solid 1px #cccccc;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
}
.pager-list ul li a {
  display: block;
  line-height: 38px;
  text-align: center;
  color: #666;
  width: 38px;
  height: 38px;
  border: solid 1px #cccccc;
}
.pager-list ul li a:hover,
.pager-list ul li.active a {
  border: none;
}
#commodityS:hover .commodity-style {
  display: block;
}
/*-----------------------------------------剁手必买--------------------------------------------*/
.chop_hand_img {
  width: 100%;
  height: 360px;
  background: url("../imgs/duoshou_02.png") no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
#chop_hand {
  margin-top: 0;
}
.chop_type {
  width: 1200px;
  margin: 0 auto;
  height: 94px;
  line-height: 94px;
  text-align: center;
}
.chop_type img {
  width: 30px;
  height: 30px;
  margin-bottom: -4px;
}
.chop_type span {
  font-size: 26px;
  color: #3f231e;
  font-weight: bold;
  display: inline-block;
  padding: 0 13px 0 14px;
}
.chop_type small {
  font-size: 14px;
  color: #3f231e;
  display: inline-block;
}
/*-----------------------------------------潮品混搭--------------------------------------------*/
.chop_mixup_img {
  width: 100%;
  height: 400px;
  background-position: center center;
}
.chop_mix_list {
  width: 1200px;
  margin: 0 auto;
}
.chop_mix_list a {
  width: 590px;
  height: 523px;
  float: left;
  background-color: #ffffff;
  margin-top: 20px;
}
.chop_mix_list a dl {
  width: 100%;
  height: 100%;
}
.chop_mix_list a dl dt {
  width: 100%;
  height: 359px;
}
.chop_mix_list a dl dt img {
  width: 100%;
  height: 100%;
  transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  /* IE 9 */
  -webkit-transform: scale(0.7, 0.7);
  /* Safari and Chrome */
  -o-transform: scale(0.7, 0.7);
  /* Opera */
  -moz-transform: scale(0.7, 0.7);
}
.chop_mix_list a dl dd {
  width: 550px;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding-top: 14px;
}
.chop_mix_list a dl dd h1 {
  font-size: 25px;
  font-weight: normal;
  color: #ff9600;
  display: inline-block;
}
.chop_mix_list a dl dd span {
  font-size: 18px;
  color: #999999;
  padding-left: 24px;
  text-decoration: line-through;
}
.chop_mix_list a dl dd small {
  font-size: 14px;
  color: #ff9600;
  padding-left: 24px;
}
.chop_mix_list a dl dd h2 {
  font-size: 18px;
  font-weight: normal;
  color: #000;
  line-height: 34px;
  padding-top: 30px;
  height: 100px;
  overflow: hidden;
}
.chop_mix_list a:nth-child(2n) {
  margin-left: 20px;
}
.fiery {
  width: 100%;
  overflow: hidden;
  color: #666;
  text-align: center;
}
.fiery p {
  padding-top: 15px;
  font-size: 16px;
}
.fiery img {
  width: 68px;
  height: 68px;
  margin-top: 30px;
}
