body,
html {
  background: #f3f3f3;
}
.user_centre {
  width: 1200px;
  margin: auto;
  clear: both;
  margin-top: 24px;
}
.user_centre .user_centre_list {
  width: 196px;
  height: 768px;
  background: #fff;
  float: left;
}
.user_centre .user_centre_list .list_head {
  width: 155px;
  height: 67px;
  margin: 0 auto;
  border-bottom: 1px dashed #ccc;
  line-height: 67px;
  font-size: 17px;
  text-align: center;
  color: #262626;
}
.user_centre .user_centre_list ul {
  width: 80px;
  margin: 0 auto;
}
.user_centre .user_centre_list ul h1 {
  font-size: 14px;
  margin-top: 15px;
}
.user_centre .user_centre_list ul li {
  line-height: 35px;
}
.user_centre .user_centre_list ul li a {
  font-size: 13px;
  color: #000;
}
.user_centre .user_centre_list ul li a:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ccc;
  margin-right: 15px;
}
#help_center {
  padding-bottom: 20px;
}
#help_center ul {
  margin: 0;
  height: auto;
}
#help_center ul > li:last-child {
  border-bottom: none;
}
#help_center ul > li {
  width: 155px;
  padding: 0 0 10px 0;
  margin-top: 15px;
  float: left;
  padding-left: 34px;
  font-size: 16px;
  border-bottom: 1px dashed #ccc;
  margin-left: 20px;
}
#help_center ul > li img {
  width: 10px;
  height: 5px;
  float: right;
  margin-top: 16px;
}
#help_center ul > li ol li {
  font-size: 14px;
  line-height: 33px;
  text-align: left;
  float: left;
}
#help_center ul > li ol li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ccc;
  margin-right: 15px;
}
.user_detail {
  float: right;
  width: 952px;
  background: #FFFFFF;
}
