<header class="header leftRight-box">
				<div class="leftBox">
					<li>
						<div href="javascript:;" class="a"><span class="Tuser_name">欢迎来到洋窝儿</span><i class="arr"></i>
							<!--<div class="message">
								<div class="news">
									<span href="#">消息</span>
									<span href="#">退出</span>
								</div>
								<header>
									<img src="./images/dom17.png" />
									<img src="./images/dom18.png" />
									<p>我可享受<span>4</span>项特权</p>
								</header>
								<p class="ptext">距离<span>生日特权</span>还剩<span>50</span>天</p>
								<section class="privilegeBox">
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
								</section>
							</div>-->
						</div>
						
					</li>
					<li id="loginBtn">
						<div><a href="pc_login.html" style="padding: 0 10px;">登录</a></div>
					</li>
					<li id="reginBtn">
						<div><a href="free_regin.html" style="padding: 0 10px;">注册</a></div>
					</li>
					
				</div>
				<div class="rightBox">
					<li class="cart hrefB">
						<div><a href="#">购物车<span class="cartAmount">(0)</span></a></div>
					</li>
					<li class="hrefB">
						<div><a href="user_order.html">我的订单</a></div>
					</li>
					<li class="hrefB">
						<div><a href="user_centre.html">个人中心</a></div>
					</li>
					<li>
						<div class="a" style="padding-right: 10px;">洋窝儿APP
							<ol class="AppCode">
								<a href="#">
									<img src="./images/code.png" />
									<span>下载APP</span>
									<span>领取新人100</span>
								</a>
							</ol>
						</div>
					</li>
					<li class="li1">
						<div class="a">客服服务<i class="arr"></i>
							<ol class="service">
								<li><a href="javascript:;">帮助中心</a></li>
								<li><a href="javascript:;">联系我们</a></li>
							</ol>
						</div>
					</li>
					<li class="li1">
						<div class="a">更多<i class="arr"></i>
							<ol class="more">
							    <li><a href="javascript:;">关于我们</a></li>
								<li><a href="javascript:;">收藏本站</a></li>
							</ol>
						</div>
					</li>
				</div>
			</header>