<header class="header leftRight-box">
				<div class="leftBox">
					<li>
						<div href="javascript:;" class="a"><span class="Tuser_name">欢迎来到洋窝儿</span><i class="arr"></i>
							<!--<div class="message">
								<div class="news">
									<span href="#">消息</span>
									<span href="#">退出</span>
								</div>
								<header>
									<img src="./images/dom17.png" />
									<img src="./images/dom18.png" />
									<p>我可享受<span>4</span>项特权</p>
								</header>
								<p class="ptext">距离<span>生日特权</span>还剩<span>50</span>天</p>
								<section class="privilegeBox">
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
									<dl>
										<dt><img src="./images/dom19.png"></dt>
										<dd>生日特权</dd>
									</dl>
								</section>
							</div>-->
						</div>
						
					</li>
					<li id="loginBtn">
						<div><a href="pc_login.html" style="padding: 0 10px;">登录</a></div>
					</li>
					<li id="reginBtn">
						<div><a href="free_regin.html" style="padding: 0 10px;">注册</a></div>
					</li>
					
				</div>
				<div class="rightBox">
					<li class="cart hrefB">
						<div><a href="shop_car.html">购物车<span class="cartAmount">(0)</span></a></div>
					</li>
					<li class="hrefB">
						<div><a href="user_order.html">我的订单</a></div>
					</li>
					<li class="hrefB">
						<div><a href="user_centre.html">个人中心</a></div>
					</li>
					<li>
						<div class="a" style="padding-right: 10px;">洋窝儿APP
							<ol class="AppCode">
								<a href="#">
									<img src="./images/code.jpg" />
									<span>下载APP</span>
									<span>领取新人100</span>
								</a>
							</ol>
						</div>
					</li>
					<!--<li class="li1">
						<div class="a">客服服务<i class="arr"></i>
							<ol class="service">
								<li><a href="javascript:;">帮助中心</a></li>
								<li><a href="javascript:;">联系我们</a></li>
							</ol>
						</div>
					</li>
					<li class="li1">
						<div class="a">更多<i class="arr"></i>
							<ol class="more">
							    <li><a href="javascript:;">关于我们</a></li>
								<li><a href="javascript:;">收藏本站</a></li>
							</ol>
						</div>
					</li>-->
				</div>
			</header>
			<div class="searchBox">
				<div class="icon">
					<a href="show.html"><img src="./images/icon.png"></a>
				</div>
				<div class="search-Text">
					<div class="search-Text-top">
						<p>
							<input type="text" placeholder="搜索您感兴趣的商品" id="searchInp">
						</p>
						<span id="seekBtn">搜索</span>
						<div class="searchResult">
							<!--<header class="searchResult-header">
								<span>最近搜索</span>
								<span></span>
							</header>-->
							<ol class="searchResult-list" id="searchResult-list">
								
							</ol>
						</div>	
					</div>
					<div class="search-Text-bottom aRightBorder">
						<a href="javascript:;">Devondale</a>
						<a href="javascript:;">Blackmores</a>
						<a href="javascript:;">爱他美</a>
						<a href="javascript:;">Swisse</a>
						<a href="javascript:;">A2</a>
					</div>
				</div>
				<div class="guarantee">
					<img src="./images/guarantee.png" />
				</div>
			</div>
			<nav class="nav showNav">
				<ul>
					<li class="active" id="commodityS">
						<a href="javascript:;">全部商品分类</a>
						<ol id="commodity-style" class="commodity-style">
						   
						</ol>

					</li>
					<li>
						<a href="show.html">首页</a>
					</li>
					<li>
						<a href="trademark.html">品牌馆</a>
					</li>
					<li>
						<a href="javascript:;">会员中心</a>
					</li>
					<li>
						<a data-href="wei_login.html" onclick="picture.loginClick(this)">微代理</a>
					</li>
					<li>
						<a href="javascript:;">财富合伙人加盟</a>
					</li>
				</ul>
			</nav>