
<div class="user_centre">
	<!--1200 -->
	<div class="user_centre_list">
		<!--196 738 -->
		<div class="list_head">
			我的洋窝儿
		</div>
		<ul id="hrefBox">
			<li>
				<h1>我的交易</h1></li>
			<li>
				<a href="user_order.html" id="user_order">我的订单</a>
			</li>
			<li>
				<a href="after_sales.html">售后管理</a>
			</li>
			<li>
				<a href="user_recip.html">收货地址</a>
			</li>
			<li>
				<a href="add_idCard.html">身份证</a>
			</li>
			<!--<li>
				<h1>我的资产</h1>
			</li>
			-->
			<!--<li>
				<a href="my_purse.html">我的钱包</a>
			</li>-->
			<!--<li>
				<a href="leader_board.html">积分兑换</a>
			</li>-->
			<li>
				<h1>我的账户</h1></li>
			<li>
				<a href="personal_data.html">个人资料</a>
			</li>
			<li>
				<a href="revision_psd.html">修改密码</a>
			</li>
			<!--<li>
				<a href="">MY特权</a>
			</li>-->
			
			<li>
				<h1>其他</h1>
			</li>
			<li>
				<a href="my_kaquan.html">我的卡券</a>
			</li>
			<li>
				<a href="keep_sp.html">我的收藏</a>
			</li>
			<!--<li>
				<a href="">我的评价</a>
			</li>-->
			<!--<li>
				<a href="tried_center.html">试用中心</a>
			</li>-->
			<!--<li>
				<a href="">健康定制</a>
			</li>-->
		</ul>
	</div>

	<div class="user_detail" id="user_detail">

